<template>
    <div>
        <h1>Posts</h1>
        <post
            v-for="post of posts"
            :key="post.id"
            :name="post.title"
            :id="post.id"
        />
    </div>
</template>

<script>

import axios from 'axios';
import post from '../../components/post.vue'

export default {
    components:{
        post
    },
    data (){
        return {
            posts:[],
        }
    },
    async created() {
        try {
            const res = await axios.get('https://jsonplaceholder.typicode.com/posts');
            console.log(res)
            this.posts = res.data;
        } catch (error) {
            console.log(error);
        }
    },
    head () {
      return {
        title: "Mi primer proyecto en Nuxt.js | Posts",
        meta: [
          { 
            hid:"description",
            name: "description",
            content: "Este es mi primer proyecto utilizando el framework Nuxt.js de Vue.js, esta es la seccion de posts"
          }
        ],
        htmlAttrs: {
            lang:"es",
        }
      }
    }

}
</script>
