<template>
    <div>
        <navigation/>
        <div class="content">
            <main>
                <nuxt/>
            </main>
        </div>
    </div>
</template>

<script>

import navigation from '../components/navigation.vue'

export default {
    components: {
        navigation
    }
}
</script>

<style>
* {
    box-sizing: border-box;
    color: whitesmoke;
}

body {
    background:#2d3436;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0;
}

.content {
    padding: 2rem;
}
</style>