<template>
    <div>
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis facere debitis quos error? 
            Sint eum ad eligendi nihil fugit. Doloremque blanditiis omnis earum quod ad cupiditate 
            totam beatae excepturi. Nihil?</p>
    </div>
</template>


<script>
export default {
    head () {
      return {
        title: "Mi primer proyecto en Nuxt.js | About",
        meta: [
          { 
            hid:"description",
            name: "description",
            content: "Este es mi primer proyecto utilizando el framework Nuxt.js de Vue.js, esta es la seccion de about"
          }
        ],
        htmlAttrs: {
            lang:"es",
        }
      }
    }

}
</script>
