<template>
  <h1>Mi primer proyecto en Nuxt.js</h1>
</template>

<script>
export default {
    head () {
      return {
        title: "Mi primer proyecto en Nuxt.js | Home",
        meta: [
          { 
            hid:"description",
            name: "description",
            content: "Este es mi primer proyecto utilizando el framework Nuxt.js de Vue.js"
          }
        ],
        htmlAttrs: {
            lang:"es",
        }
      }
    }

}
</script>
